<app-main-movie></app-main-movie>
<!-- <app-recommended-list></app-recommended-list> -->

<div class="recommend-block my-5">
	<div class="mb-4">
		<h2 class="recommended-list__title mb-3">Popular movies and TV-shows</h2>
		<ul class="navbar-nav d-flex flex-row">
			<li class="nav-item mx-3">
				<a class="nav-link" routerLink="/home/new-list" routerLinkActive="active">New</a>
			</li>
			<li class="nav-item mx-3">
				<a class="nav-link" routerLink="/home/popular-list" routerLinkActive="active">Popular</a>
			</li>
			<li class="nav-item mx-3">
				<a class="nav-link" routerLink="/home/recommended-list" routerLinkActive="active">Recommended to you</a>
			</li>
		</ul>
	</div>

	<router-outlet></router-outlet>

</div>

<app-main-movie></app-main-movie>
<!-- <app-main-movie></app-main-movie>
<app-main-movie></app-main-movie> -->
