.main-movie {
	position: relative;

	img {
		width: 100%;
	}

	div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.main-movie__text {
			display: flex;
			flex-direction: column;
			font-family: "Montserrat Bold";
			font-style: normal;
			font-weight: bold;
			font-size: 100px;
			line-height: 90px;
			text-align: center;
			color: #ededed;
		}
	}
}
