<div class="genres">
  <h3 class="gentes__title">Genres</h3>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/movies/action" routerLinkActive="active">Action</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/movies/adventure" routerLinkActive="active">Adventure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/movies/comedy" routerLinkActive="active">Comedy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/movies/horror" routerLinkActive="active">Horror</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/movies/fantasy" routerLinkActive="active">Fantasy</a>
    </li>
  </ul>
</div>
