<div class="thumbnail">
	<div class="poster">
		<img src="../../../assets/images/abstract-image.jpg" *ngIf="!movie.poster_path">
		<img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" *ngIf="movie.poster_path">
	</div>

	<div class="caption">
		<a class="card-title" routerLink="/details/" [queryParams]="{ movieId: movie.id }"
			title="{{movie.title}}">{{movie.title}}</a>
		<span *ngIf="movie.vote_average">
			{{movie.vote_average}}
			<i class="fa fa-star"></i>
		</span>
		<p><strong>Release Date: </strong>{{movie.release_date}}</p>
		<p>
			<button class="btn btn-secondary btn-sm" routerLink="/details/" [queryParams]="{ movieId: movie.id }">View
				details
				&raquo;</button>
		</p>
	</div>
</div>
