<div class="movie-poster">
  <h2 class="movie-poster__text">See <span class="movie-poster__text--small">TV Series 2019</span></h2>
  <a href="#">
    <img src="../../../assets/images/play-button.svg" alt="play-button">
  </a>
</div>

<div class="detailed">
  <div class="overview">
    <h3 class="overview__title">About</h3>
    <p class="overview__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum fugiat ducimus
      nulla, corporis porro tenetur, maiores eos est aliquid id ullam fugit voluptatum nobis animi magnam cum labore
      unde et.Aliquam dolor explicabo, ipsa ad magni voluptatum maiores deserunt amet iste corporis ullam excepturi
      velit. Nulla quasi reiciendis, dignissimos omnis modi eius? Incidunt pariatur corporis laboriosam reprehenderit
      nam exercitationem quibusdam.</p>
  </div>

  <div class="movie-info">
    <h3 class="movie-info__title">Movie Info</h3>
    <ul class="movie-info__list list">
      <li><span class="movie-info__criteria">Rating:</span> blablabla</li>
      <li><span class="movie-info__criteria">Genre:</span> blablabla</li>
      <li><span class="movie-info__criteria">Directed By:</span> blablabla</li>
      <li><span class="movie-info__criteria">Runtime:</span> blablabla</li>
    </ul>
  </div>
</div>

<div class="cast">
  <h3 class="cast__title">Cast</h3>
  <ul class="cast__list d-flex justify-content-between flex-wrap">
    <li>
      <img class="actor__img" src="../../../assets/images/actor.png" alt="/">
      <span class="actor__name">Zac Efron</span>
    </li>
    <li>
      <img class="actor__img" src="../../../assets/images/actor.png" alt="/">
      <span class="actor__name">Zac Efron</span>
    </li>
    <li>
      <img class="actor__img" src="../../../assets/images/actor.png" alt="/">
      <span class="actor__name">Zac Efron</span>
    </li>
    <li>
      <img class="actor__img" src="../../../assets/images/actor.png" alt="/">
      <span class="actor__name">Zac Efron</span>
    </li>
    <li>
      <img class="actor__img" src="../../../assets/images/actor.png" alt="/">
      <span class="actor__name">Zac Efron</span>
    </li>
  </ul>
</div>
