// .movie-poster {
// 	img {
// 		width: 100%;
// 	// height: 680px;
// 	}
// 	// height: 680px;
// 	// background: url("../../../assets/images/movie.png") center no-repeat;
// 	// background-size: cover;
// 	// display: flex;
// 	// flex-direction: column;
// 	// align-items: center;
// 	// justify-content: center;
// 	position: relative;
// }
.movie-poster {
	position: relative;

	img {
		width: 100%;
	}

	div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.movie-poster__text {
			display: flex;
			flex-direction: column;
			font-family: "Montserrat Bold";
			font-style: normal;
			font-weight: bold;
			font-size: 100px;
			line-height: 90px;
			text-align: center;
			color: #ededed;

			.movie-poster__text--small {
				font-size: 50px;
			}
		}
	}
}


// .movie-header {
// 	position: absolute;
// 	left: 0;
// 	right: 0;
// 	bottom: 10%;
// 	text-align: center;
// 	background: #000;
// 	// background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, #000000 63.02%);

// 	.movie-poster__text {
// 		display: flex;
// 		flex-direction: column;
// 		font-family: "Montserrat Bold";
// 		font-style: normal;
// 		font-weight: bold;
// 		font-size: 50px;
// 		line-height: 50px;
// 		text-align: center;
// 		color: #ededed;

// 		.movie__rate {
// 			font-size: 40px;
// 			color: #fffb00;
// 		}
// 	}
// 	&--small {
// 		font-size: 40px;
// 	}
// }

.overview__title,
.movie-info__title,
.cast__title {
	font-family: "Montserrat Bold";
	font-size: 32px;
	line-height: 39px;
	color: #ededed;
}

.detailed {
	display: flex;
	flex-flow: wrap;
	margin: 50px;

	.overview {
		flex: 1;
		margin: 0 20px;

		.overview__description {
			font-size: 16px;
			line-height: 24px;
			color: rgba(237, 237, 237, 0.6);
		}
	}

	.movie-info {
		flex: 1;
		margin: 0 20px;

		.movie-info__list {
			padding: 0;
			margin: 0;
			color: rgba(237, 237, 237, 0.6);
			list-style: none;
		}

		.movie-info__criteria {
			color: #ededed;
		}
	}
}

