<div *ngIf="detailsTV$ | async as movie">
	<div class="movie-poster">
		<img src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" alt="" class="thumbnail">
		<div class="movie-header">
			<h2 class="movie-poster__text">{{movie.name}}</h2>
			<h3 class="movie-poster__text--small" *ngIf="movie.tagline">{{movie.tagline}}</h3>
		</div>
	</div>

	<div class="detailed">
		<div class="overview">
			<h3 class="overview__title">About</h3>
			<p class="overview__description">{{movie.overview}}</p>
		</div>

		<div class="movie-info">
			<h3 class="movie-info__title">Movie Info</h3>
			<p><span *ngFor="let genre of movie.genres" class="badge badge-success mr-2">{{genre.name}}</span></p>
			<ul class="movie-info__list list">
				<li><span class="movie-info__criteria">Rating: </span>{{movie.vote_average}}</li>
				<li><span class="movie-info__criteria">Popularity: </span>{{movie.popularity}}</li>
				<li><span class="movie-info__criteria">Release Date: </span>{{movie.release_date}}</li>
				<li><span class="movie-info__criteria">Original Language:</span> {{movie.original_language}}</li>
				<li><span class="movie-info__criteria">Runtime: </span>{{movie.runtime}} min</li>
			</ul>

			<div *ngIf="movie.homepage" class="my-3">
				<a href="{{movie.homepage}}" class="btn btn-info btn-block" target="_blank">Visit
					Movies Website</a>
			</div>
		</div>

	</div>

	<!-- <app-cast [cast]="cast"></app-cast> -->

	<div class="embed-responsive embed-responsive-16by9 mt-2 ytplayer">
		<iframe class="embed-responsive-item" [src]="link" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
